.labelWrapper {
  width: 100%;
  margin-right: 1.5rem;

  .input {
    margin-right: 0.5rem;
    accent-color: #6f94cf;
  }
}

.inputWrapper {
  max-width: 15rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  .input {
    text-align: right;
    height: 2em;
    padding-right: 3rem;
    outline: none;
  }
  .unit {
    color: gray;
  }
}
