@import "../base/mixins";

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 12rem calc(100vw - 12rem);
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "nav header"
    "nav contents";

  @include Tablet {
    display: grid;
    grid-template-areas:
      "header"
      "contents";
    grid-template-columns: 100vw;
    grid-template-rows: 3rem auto;
    font-size: 14px;
  }

  @include Mobile {
    display: grid;
    grid-template-areas:
      "header"
      "contents";
    grid-template-columns: 100vw;
    grid-template-rows: 3rem auto;
    font-size: 14px;
  }

  .main {
    grid-area: contents;
    overflow: scroll;

    &.dashboard {
      background-color: #f8f8f8;
    }
  }
}
