@import "../base/mixins";
@import "../base/colors";

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    " header"
    "contents";

  .main {
    grid-area: contents;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .icon {
      flex: 5;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      svg {
        width: 16rem;
        height: 16rem;

        @include Mobile {
          width: 13rem;
          height: 13rem;
        }
      }
    }

    .contentWrapper {
      flex: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      .content {
        font-size: 1.3rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
        @include Mobile {
          font-size: 1rem;
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        @include Button($primary);
        width: 70%;
        color: white;
      }
    }
  }
}
