@import "../base/colors";
@import "../base/mixins";

.itemWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 6px 2px 7px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &.primary {
    border-top: 2px solid $primary;
  }

  &.pink {
    border-top: 2px solid #fac8dd;
  }

  &.peach {
    border-top: 2px solid #f8b5a7;
  }

  &.purple {
    border-top: 2px solid #c9b6ff;
  }

  &.orange {
    border-top: 2px solid $orange;
  }

  &.green {
    border-top: 2px solid #bbeb73;
  }

  .imageWrapper {
    height: 8.5rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    @include Mobile {
      height: 8rem;
    }
    .icon {
      width: 70%;
      object-fit: fill;
    }
    .picture {
      width: 70%;
      border-radius: 50%;
    }
  }

  .infoWrapper {
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;

    .name {
      font-size: 1.1rem;
      font-weight: 800;
    }
    .role {
      color: $gray;
      font-size: 0.9rem;
    }

    @include Mobile {
      height: 5rem;

      .name {
        font-size: 1rem;
      }
      .role {
        font-size: 0.8rem;
      }
    }
  }
}
