@import "../salesMixins";

.listWrapper {
  @include VisitItem;

  input {
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 0.9rem;
  }
}

.editButtonWrapper {
  @include AddBuleButton;
}
