@import "./dashboardMixins.scss";

.container {
  grid-area: salesChart;
  @include DashboardLayoutContainer;
  display: flex;
  flex-direction: column;

  .title {
    @include DashboardTitle;
    flex: 1;
  }

  .contentContainer {
    flex: 9;

    .noneContent {
      @include NoneContent;
    }

    .canvasContainer {
      g {
        rect[class="bar"] {
          fill: $darkBlue;

          &:hover {
            fill-opacity: 0.8;
          }
        }

        line {
          stroke: $black;
        }
        text {
          fill: $black;
        }

        text[class="salesText"] {
          font-size: 0.8rem;
        }
      }
    }
  }
}
