@import "../../base/mixins";
@import "../../base/colors";

.title {
  font-size: 1.5rem;
  color: $darkBlue;
}

.nav {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0 2rem 0;

  .clicked {
    padding-bottom: 0.1rem;
    border-bottom: 1.5px solid $skyBlue;
  }
}
