@import "../../base/colors";

.dateWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.5rem;
  font-size: 0.8rem;
  align-items: center;
  border-bottom: none;

  @each $color in $boxColorList {
    $i: index($boxColorList, $color);
    .day:nth-child(#{$i}) {
      background-color: $color;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      box-shadow: 3px 2px 5px #706a6a5c;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
