@import "../utils";

.container {
  border: 1px solid $lightBlue;
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 32%);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: flex-end;
  cursor: pointer;

  .contentWrapper {
    border-radius: 10px 10px 0 0;
    color: white;
    background: linear-gradient(to right bottom, $primary 40%, $skyBlue);
    width: 100%;
    padding: 1rem;
    flex: 8;
    display: flex;
    flex-direction: column;

    .header {
      font-size: 0.75rem;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
    }

    .title {
      flex: 3;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 700;
      font-size: 1.3rem;
    }
  }

  .priceWrapper {
    flex: 2;
    background: linear-gradient(to right, $lightBlue, white);
    border-radius: 0 0 10px 10px;
    width: 100%;

    .price {
      padding: 0.7rem;
      font-size: 0.9rem;
      text-align: right;
    }

    .editDeleteBtn {
      display: flex;
      justify-content: space-around;
      padding: 0.7rem;
      font-size: 0.9rem;

      div {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
