@import "../utils";

.formWrapper {
  width: 100%;
  max-width: 1024px;
  margin: auto;

  .contentWrapper {
    height: 100%;
    margin-bottom: 5rem;

    .eventTitle {
      font-weight: 900;
      font-size: 0.9rem;
      margin-bottom: 1.5rem;

      .checkbox {
        margin-left: 1.5rem;
        accent-color: $accentColor;
      }
    }
    .checkInfo {
      color: $gray;
      font-size: 0.8rem;
    }
  }
}
