@import "../base/mixins";

.container {
  @include LayoutContainer;

  .innerContainer {
    @include InnerContainer;

    .headerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3rem;
      margin-bottom: 3rem;

      .count {
        font-size: 1.5rem;
      }

      @include Mobile {
        width: 100%;
        flex-direction: column;
        height: 5rem;
        gap: 1rem;
        margin-bottom: 2rem;

        .count {
          font-size: 1.3rem;
        }
      }
    }
  }

  .noneWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemWrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(9.7rem, 16.4rem));
    grid-auto-rows: 11rem;
    grid-gap: 2rem;

    @include ListDeskTop {
      grid-template-columns: repeat(3, minmax(10.5rem, 14.5rem));
      justify-content: center;
      align-items: center;
    }

    @include Tablet {
      grid-template-columns: repeat(2, minmax(0, 14.5rem));
      justify-content: center;
      align-items: center;
    }

    @include Mobile {
      grid-template-columns: 75%;
      justify-content: center;
      align-items: center;
    }
  }
}
