@import "../../base/colors";

.content {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 8fr;
  padding: 3rem 0 0 2rem;

  .idx {
    font-weight: 600;
  }

  .info {
    border-bottom: 1px solid $createBorderColor;
    padding-bottom: 2rem;
  }

  .title {
    font-weight: 900;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
}
