@import "../../base/colors";

.wrapper {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: $peach;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;

  button {
    cursor: pointer;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  &:hover {
    background-color: $orange;
  }
}
