/* Color pallete */
$primary: #94b9f4;
$skyBlue: #b9d1fb;
$lighBlue: #b9d1fb34;
$yellow: #f7eed7;
$lightYellow: #efbf972e;
$gray: #949494;
$black: #343a40;
$peach: #fcd6ac;
$orange: #f2b07a;
$accentColor: #6f94cf;
$borderGrayColor: rgba(128, 128, 128, 0.438);

/* Color pallete List */
$boxColorList: #fac8dd #f8aecc #f8b5a7 #bde0fe #a2d2ff #d8e2dc #e7c6ff #c9b6ff;
