/* Color pallete */
$primary: #94b9f4;
$skyBlue: #b9d1fb;
$darkBlue: #0f133e;
$lightBlue: #b9d1fb34;
$yellow: #f7eed7;
$lightYellow: #efbf972e;
$gray: #949494;
$black: #343a40;
$peach: #fbd972;
$red: #e75335;
$orange: #f9c82a;
$accentColor: #6f94cf;
$borderGrayColor: rgba(128, 128, 128, 0.438);
$createBorderColor: rgba(0, 0, 0, 0.07);

/* Color pallete List */
$boxColorList: #fac8dd #f8aecc #f8b5a7 #bde0fe #a2d2ff #d8e2dc #e7c6ff #c9b6ff;

$memberColorList: $primary $orange #f8b5a7 #bbeb73 #c9b6ff;
